In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#read in datasets
hospital_data = pd.read_csv("Resources/Complications and Deaths Hospital.csv")
national_data = pd.read_csv("Resources/Complications and Deaths National.csv")
state_data = pd.read_csv("Resources/Complications and Deaths State.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [3]:
#check hospital dataset
hospital_data.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Measure Start Date,Measure End Date
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,No Different than the National Rate,315,3,2.0,4.6,NaN,04/01/2014,03/31/2017
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for heart attack patients,MORT_30_AMI,No Different than the National Rate,739,14.5,12.3,17.1,NaN,07/01/2014,06/30/2017
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for CABG surgery patients,MORT_30_CABG,No Different than the National Rate,302,4.5,2.9,7.0,NaN,07/01/2014,06/30/2017
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for COPD patients,MORT_30_COPD,No Different than the National Rate,477,8.9,6.9,11.4,NaN,07/01/2014,06/30/2017
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,Death rate for heart failure patients,MORT_30_HF,No Different than the National Rate,848,12.5,10.5,14.7,NaN,07/01/2014,06/30/2017

In [4]:
#drop unneeded columns in speed camera locations dataset
hospital_data = hospital_data.drop(columns=["Measure Name", "Measure ID", "Measure End Date"])

In [5]:
#check national dataset
national_data.head()

,Measure Name,Measure ID,National Rate,Number of Hospitals Worse,Number of Hospitals Same,Number of Hospitals Better,Number of Hospitals Too Few,Footnote,Measure Start Date,Measure End Date
0,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,2.6,44,2669,68,678,NaN,04/01/2014,03/31/2017
1,Death rate for heart attack patients,MORT_30_AMI,13.2,24,2376,47,1912,NaN,07/01/2014,06/30/2017
2,Death rate for CABG surgery patients,MORT_30_CABG,3.1,23,984,17,159,NaN,07/01/2014,06/30/2017
3,Death rate for COPD patients,MORT_30_COPD,8.3,95,3482,65,934,NaN,07/01/2014,06/30/2017
4,Death rate for heart failure patients,MORT_30_HF,11.7,135,3379,228,957,NaN,07/01/2014,06/30/2017

In [6]:
#check state dataset
state_data.head()

,State,Measure Name,Measure ID,Number of Hospitals Worse,Number of Hospitals Same,Number of Hospitals Better,Number of Hospitals Too Few,Footnote,Measure Start Date,Measure End Date
0,AK,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,0,8,0,1,NaN,04/01/2014,03/31/2017
1,AK,Death rate for heart attack patients,MORT_30_AMI,0,5,0,15,NaN,07/01/2014,06/30/2017
2,AK,Death rate for CABG surgery patients,MORT_30_CABG,0,2,0,0,NaN,07/01/2014,06/30/2017
3,AK,Death rate for COPD patients,MORT_30_COPD,0,11,0,12,NaN,07/01/2014,06/30/2017
4,AK,Death rate for heart failure patients,MORT_30_HF,0,9,0,14,NaN,07/01/2014,06/30/2017

In [7]:
# Merge the columns
combined_data = pd.merge(hospital_data, state_data, on="State", how="inner")

In [8]:
combined_data.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Compared to National,Denominator,...,Measure Start Date_x,Measure Name,Measure ID,Number of Hospitals Worse,Number of Hospitals Same,Number of Hospitals Better,Number of Hospitals Too Few,Footnote_y,Measure Start Date_y,Measure End Date
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,No Different than the National Rate,315,...,04/01/2014,Rate of complications for hip/knee replacement...,COMP_HIP_KNEE,0,43,0,5,NaN,04/01/2014,03/31/2017
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,No Different than the National Rate,315,...,04/01/2014,Death rate for heart attack patients,MORT_30_AMI,2,38,0,47,NaN,07/01/2014,06/30/2017
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,No Different than the National Rate,315,...,04/01/2014,Death rate for CABG surgery patients,MORT_30_CABG,1,21,0,2,NaN,07/01/2014,06/30/2017
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,No Different than the National Rate,315,...,04/01/2014,Death rate for COPD patients,MORT_30_COPD,2,76,0,9,NaN,07/01/2014,06/30/2017
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,3347938701,No Different than the National Rate,315,...,04/01/2014,Death rate for heart failure patients,MORT_30_HF,3,72,4,10,NaN,07/01/2014,06/30/2017